body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.imp-red {
    color: rgb(255, 0, 0) !important;
}

.imp-green {
    color: rgb(64, 196, 64) !important;
}

.imp-yellow {
    color: rgb(255, 255, 0) !important;
}

.imp-blue {
    color: rgb(55, 108, 255) !important;
}

.imp-pink {
    color: rgb(255, 192, 203) !important;
}

.imp-orange {
    color: rgb(255, 165, 0) !important;
}

.impGUI {
    z-index: 15 !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.impGUI span {
    padding-right: 1rem !important;
}

.impGame {
    max-height: 90vh !important;
    background-color: rgb(56, 64, 71);
    opacity: 90%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.impCanvas {
    max-width: 100% !important;
    max-height: 100% !important;
    padding: 1rem;
}
